/* 1. Identify the header, main, and footer of your page and add a skip to content link. */

/** DONE IN HTML **/

h1{
    font-size: 24px;
    margin: 12px 0;
}

footer{
    background-color: lightgoldenrodyellow;
    padding: 32px 8px;
}

/* 2. Add the paragraph and link tags */

/** DONE IN HTML **/

/* 4. Style the links to in your site - make sure to indicate which one is the current page */

nav li{
    padding: 12px;
}

.active{
    background-color: lightblue;
    font-weight: bold;
    border: 2px solid black; 
}

/* 5. Add style to your images focusing on the box model. */

img{
    margin: 12px;
    width: 325px;
    border: 4px solid darkorange;
}

/* 6. Add a hover style to your images */ 

img:hover{
   filter: grayscale();
   border: dashed; 
} 